//Couleurs primaires
$bleuFonce: #2121FB;
$blanc: #fff;
$noir: #171717;

//Couleurs secondaires
$vert: #80E3AD;
$bleu: #80EFFF;
$violet: #9980FF;
$orange: #FFA680;
$jaune: #FFEA80;
$gris: #ADADAD;

//Couleurs tertiaires
$vertCard: #00C75B;
$bleuCard: #00E0FF;
$violetCard: #3300FF;
$orangeCard: #FF5900;
$jauneCard: #FFD600;
$fondHeader: #FFF6F2;
$grisBarre: #EDF0F2;
$jauneFooter: #FFF9D9;
$grisFondCarte: rgba(211, 218, 218, 0.3);
$grisCercleLocalisation: rgba(224, 217, 255, 0.7);