#footer{
    > div{
        width: 80vw;
        margin: auto;
        display: flex;
        justify-content: space-between;

        section{
            width: 50%;

            h2{
                text-align: left;
                margin-bottom: 30px;
            }
            span{
                color: $gris;
                margin-left: 10px;
            }
            span::before{
                content: url(../img/clicGris.png);
                position: relative;
                top: 3px;
                right: 6px;
            }
        }

        img{
            height: 415px;
            margin-right: 150px;
        }

        a img{
            height: 60px;
        }
    }

    > section{
        margin-top: 70px;
        padding: 25px 10vw 25px 10vw;
        background: $bleuFonce;
        display: flex;
        justify-content: space-between;

        img{
            height: 36px;
        }
        a{
            line-height: 36px;
            color: $blanc;
            text-decoration: none;
        }
    }
}